$break-xs: 416px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$main-red: #C92228;
$main-red-dark: #B81F24;
$main-grey: #ECECEC;
$main-grey-dark: #E0E0E0;
$main-grey-darker: #808080;
$main-black: #373737;

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content.create-cont-content {
    margin: 10px;
    background-color: $main-grey-dark;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > .content.topic-cont-content {
    margin: 10px;
    background-color: $main-grey-dark;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

body {
  margin: 0px;
  font-family: Arial;
  color: $main-black;
  background-color: white;

  .text-center {
    text-align: center;
  }
  .d-none {
    display: none;
  }
  .d-flex {
    display: flex;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-column {
    flex-direction: column;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .justify-content-start {
    justify-content: flex-start;
  }
  .justify-content-end {
    justify-content: flex-end;
  }
  .justify-content-center {
    justify-content: center;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .justify-content-around {
    justify-content: space-around;
  }
  .justify-content-evenly {
    justify-content: space-evenly;
  }
  .align-items-start {
    align-items: flex-start;
  }
  .align-items-end {
    align-items: flex-end;
  }
  .align-items-center {
    align-items: center;
  }
  .align-items-stretch {
    align-items: stretch;
  }
  .align-items-baseline {
    align-items: baseline;
  }
  @media screen and (min-width: $break-sm) {
    .d-sm-block {
      display: block;
    }
    .d-sm-flex {
      display: flex;
    }
    .d-sm-none {
      display: none;
    }
  }
  @media screen and (min-width: $break-md) {
    .d-md-block {
      display: block;
    }
    .d-md-flex {
      display: flex;
    }
    .d-md-none {
      display: none;
    }
  }
  @media screen and (min-width: $break-lg) {
    .d-lg-block {
      display: block;
    }
    .d-lg-flex {
      display: flex;
    }
    .d-lg-none {
      display: none;
    }
  }
  .p-reg {
    padding: 2px;
  }
  .p-lg {
    padding: 6px;
  }
  .p-xl {
    padding: 10px;
  }
  .m-reg {
    margin: 2px;
  }
  .b-reg {
    border-radius: 4px;
  }
  .f-bold {
    font-weight: bold;
  }
  .bg-main {
    background-color: $main-red;
  }
  .form-input {
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid grey;
  }
  .form-input-invalid {
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid red;
  }
  .form-input-valid {
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid green;
  }
  .btn-main {
    background-color: $main-red;
    border-radius: 4px;
    border: 1px solid $main-red-dark;
    font-weight: bold;
    color: white;
    padding: 8px;
    margin: 2px;
    transition: all 0.2s;
    &:hover {
      background-color: $main-red-dark;
    }
  }
  .btn-sec {
    background-color: $main-grey;
    border-radius: 4px;
    border: 1px solid $main-grey-dark;
    font-weight: bold;
    color: $main-black;
    padding: 8px;
    margin: 2px;
    transition: all 0.2s;
    &:hover {
      background-color: $main-grey-dark;
    }
  }

  .sign-up-cont {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px grey;
    width: 100%;
    margin: auto;
    @media screen and (min-width: $break-xs) {
      width: $break-xs;
    }
    .sign-up-item, .sign-up-form-item {
      display: flex;
      justify-content: center;
      align-items: center;
      .sign-up-form-input, .sign-up-form-btn, .sign-up-form-txt {
        width: 100%;
        max-width: 250px;
      }
      .sign-up-form-txt {
        text-align: center;
        font-size: 11px;
        color: grey;
      }
    }
    .sign-up-form-btn {
      cursor: pointer;
    }
    .demo-log-in-btn {
      background-color: #141414;
      border-color: black;
      cursor: pointer;
      &:hover {
        background-color: black;
      }
    }
  }

  .top-nav {
    .top-nav-drawer-cont {
      margin: 22px;
      cursor: pointer;
    }
    .top-nav-search-bar {
      background-color: $main-grey;
      color: $main-grey-darker;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid $main-grey;
      border-radius: 4px;
      padding: 10px;
      width: 100%;
    }
    .nav-button {
      background-color: white;
      border-radius: 24px;
      padding: 12px;
      border: 1px solid white;
      color: $main-grey-darker;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
      }
    }
    .nav-button-active {
      background-color: white;
      border-radius: 24px;
      padding: 12px;
      border: 1px solid white;
      color: $main-black;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
      }
    }
  }
  .profile-content {
    .nav-button {
      background-color: white;
      border-radius: 24px;
      padding: 12px;
      border: 1px solid white;
      color: $main-grey-darker;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
      }
    }
    .nav-button-active {
      background-color: white;
      border-radius: 24px;
      padding: 12px;
      border: 1px solid white;
      color: $main-black;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
      }
    }

    .create-cont {
      @include aspect-ratio(4, 3);
      width: 90%;
      max-width: 300px;
      margin: auto;
      background-color: $main-grey;
      &:hover {
        background-color: $main-grey-dark;
        .content {
          background-color: $main-grey-darker;
        }
      }
      .create-inner-cont {
        background-color: blue;
        margin: 5px;
      }
      .create-subtitle {
        margin: 15px;
        font-weight: bold;
        font-size: 17px;
        color: $main-grey-darker;
      }
    }

    .topic-cont-sm {
      @include aspect-ratio(4, 3);
      cursor: pointer;
      width: 90%;
      max-width: 300px;
      background-color: $main-grey;
      transition: all 0.2s;
      margin: 10px;
      &:hover {
        background-color: $main-grey-dark;
        .content {
          background-color: $main-grey-darker;
        }
        .topic-subtitle {
          background-color: #D1D1D1;
          border: 1px solid #D1D1D1;
        }
      }
      .topic-inner-cont {
        background-color: blue;
        margin: 5px;
      }
      .topic-subtitle {
        cursor: pointer;
        margin: 15px;
        padding: 10px;
        font-weight: bold;
        font-size: 17px;
        color: $main-black;
        background-color: $main-grey-dark;
        border: 1px solid $main-grey-dark;
        border-radius: 3px;
        transition: all 0.2s;
        &:hover {
          background-color: #C4C4C4;
          border: 1px solid #C4C4C4;
        }
      }
    }

    .topic-cont-lg {
      @include aspect-ratio(4, 3);
      cursor: pointer;
      width: 300px;
      max-width: 90%;
      background-color: $main-grey;
      transition: all 0.2s;
      margin: 10px;
      &:hover {
        background-color: $main-grey-dark;
        .content {
          background-color: $main-grey-darker;
        }
        .topic-subtitle {
          background-color: #D1D1D1;
          border: 1px solid #D1D1D1;
        }
      }
      .topic-inner-cont {
        background-color: blue;
        margin: 5px;
      }
      .topic-subtitle {
        cursor: pointer;
        margin: 15px;
        padding: 10px;
        font-weight: bold;
        font-size: 17px;
        color: $main-black;
        background-color: $main-grey-dark;
        border: 1px solid $main-grey-dark;
        border-radius: 3px;
        transition: all 0.2s;
        &:hover {
          background-color: #C4C4C4;
          border: 1px solid #C4C4C4;
        }
      }
    }
  }


  .following-content {

    .following-back-button-lg {
      margin: 5px 5px 5px 15px;
      padding: 12px;
      border-radius: 25px;
      border: 1px solid white;
      color: $main-black;
      font-size: 15px;
      font-weight: bold;
      background-color: white;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
        border-color: $main-grey;
      }
    }
    .following-back-button-sm {
      margin: 5px 5px 5px 15px;
      padding: 12px;
      border-radius: 25px;
      border: 1px solid white;
      color: $main-black;
      font-size: 15px;
      font-weight: bold;
      background-color: white;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
        border-color: $main-grey;
      }
    }

    .following-people-cont-sm {
      width: 90%;
      max-width: 400px;
      margin: auto;
      .following-people-title-sm {
        font-size: 15px;
        text-align: center;
      }
      .following-people-button-sm {
        width: 100%;
        color: white;
        background-color: $main-red;
        border: 1px solid $main-red;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: $main-red-dark;
          border-color: $main-red-dark;
        }
      }
    }

    .following-people-cont-lg {
      width: 350px;
      margin: auto;
      .following-people-title-lg {
        font-size: 18px;
        text-align: center;
      }
      .following-people-button-lg {
        width: 100%;
        color: white;
        background-color: $main-red;
        border: 1px solid $main-red;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
          background-color: $main-red-dark;
          border-color: $main-red-dark;
        }
      }
    }



    .following-rec-cont {
      width: 550px;
      margin: auto;
      .following-rec-item-cont {
        border-radius: 5px;
        width: 255px;
        margin: 10px;
        transition: all 0.2s;
        &:hover {
          background-color: $main-grey;
        }
        .following-rec-item-img, .following-rec-item-top-content {
          margin: 5px;
          padding: 5px;
        }
        .rec-follow-button {
          margin: 8px;
          color: white;
          font-size: 16px;
          font-weight: bold;
          padding: 10px;
          border-radius: 4px;
          border: 1px solid $main-red;
          background-color: $main-red;
          cursor: pointer;
          transition: all 0.2s;
          &:hover {
            background-color: $main-red-dark;
            border: 1px solid $main-red-dark;
          }
        }
      }
    }

    .nav-button {
      background-color: white;
      border-radius: 24px;
      padding: 12px;
      border: 1px solid white;
      color: $main-grey-darker;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
      }
    }
    .nav-button-active {
      background-color: $main-grey;
      border-radius: 24px;
      padding: 12px;
      border: 1px solid white;
      color: $main-black;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: $main-grey;
      }
    }
  }


  .top-nav-dropdown-button {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px solid $main-grey;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    color: $main-grey-darker;
    &:hover {
      background-color: $main-grey;
    }
  }
  .top-nav-dropdown-search-cont {
    width: 94%;
    margin: auto;
    border: 1px solid white;
    border-bottom: 1px solid $main-grey;
    padding: 6px;
  }
  .top-nav-dropdown-search-bar {
    padding: 6px;
    width: 90%;
    margin: auto;
    border: 1px solid $main-grey;
    border-radius: 5px;
    background-color: $main-grey;
    color: $main-grey-darker;
    font-size: 16px;
    font-weight: bold;
  }



  .no-pins-msg {
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
  }

  .follow-button {
    width: 100%;
    background-color: $main-red;
    border: 1px solid $main-red;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: $main-red-dark;
    }
  }




}
