body {
  margin: 0px;
  font-family: Arial;
  color: #373737;
  background-color: white;
  /*.profile-photo-modal-cont {
    position: relative;
    width: 0;
    height: 0;
    .profile-photo-modal-lg {
      position: absolute;
      width: 400px;
      margin-left: calc(50vw - 210px);
      background-color: red;
      margin-top: 20px;
    }
    .profile-photo-modal-sm {
      position: absolute;
      width: 200px;
      margin-left: calc(50vw - 110px);
      background-color: red;
      margin-top: 10px;
    }
  }*/ }
  body .text-center {
    text-align: center; }
  body .d-none {
    display: none; }
  body .d-flex {
    display: flex; }
  body .flex-row {
    flex-direction: row; }
  body .flex-column {
    flex-direction: column; }
  body .flex-wrap {
    flex-wrap: wrap; }
  body .justify-content-start {
    justify-content: flex-start; }
  body .justify-content-end {
    justify-content: flex-end; }
  body .justify-content-center {
    justify-content: center; }
  body .justify-content-between {
    justify-content: space-between; }
  body .justify-content-around {
    justify-content: space-around; }
  body .justify-content-evenly {
    justify-content: space-evenly; }
  body .align-items-start {
    align-items: flex-start; }
  body .align-items-end {
    align-items: flex-end; }
  body .align-items-center {
    align-items: center; }
  body .align-items-stretch {
    align-items: stretch; }
  body .align-items-baseline {
    align-items: baseline; }
  @media screen and (max-width: 416px) {
    body .home-item-save-button,
    body .home-item-link-btn {
      display: none; } }
  @media screen and (min-width: 416px) {
    body .d-xs-block {
      display: block; }
    body .d-xs-flex {
      display: flex; }
    body .d-xs-none {
      display: none; } }
  @media screen and (min-width: 576px) {
    body .d-sm-block {
      display: block; }
    body .d-sm-flex {
      display: flex; }
    body .d-sm-none {
      display: none; } }
  @media screen and (min-width: 768px) {
    body .d-md-block {
      display: block; }
    body .d-md-flex {
      display: flex; }
    body .d-md-none {
      display: none; } }
  @media screen and (min-width: 992px) {
    body .d-lg-block {
      display: block; }
    body .d-lg-flex {
      display: flex; }
    body .d-lg-none {
      display: none; } }
  @media screen and (min-width: 1240px) {
    body .d-xl-block {
      display: block; }
    body .d-xl-flex {
      display: flex; }
    body .d-xl-none {
      display: none; } }
  @media screen and (min-width: 1500px) {
    body .d-xxl-block {
      display: block; }
    body .d-xxl-flex {
      display: flex; }
    body .d-xxl-none {
      display: none; } }
  body .p-reg {
    padding: 2px; }
  body .p-lg {
    padding: 6px; }
  body .p-xl {
    padding: 10px; }
  body .m-reg {
    margin: 2px; }
  body .b-reg {
    border-radius: 4px; }
  body .f-bold {
    font-weight: bold; }
  body .bg-main {
    background-color: #C8232C; }
  body .form-input {
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid grey; }
  body .form-input-invalid {
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid red; }
  body .form-input-valid {
    padding: 10px;
    margin: 2px;
    border-radius: 4px;
    border: 1px solid green; }
  body .btn-main {
    background-color: #C8232C;
    border-radius: 4px;
    border: 1px solid #B81F24;
    font-weight: bold;
    color: white;
    padding: 8px;
    margin: 2px;
    transition: all 0.2s; }
    body .btn-main:hover {
      background-color: #B81F24; }
  body .btn-sec {
    background-color: #ECECEC;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    font-weight: bold;
    color: #373737;
    padding: 8px;
    margin: 2px;
    transition: all 0.2s; }
    body .btn-sec:hover {
      background-color: #E0E0E0; }
  body .cancel-create-board-btn {
    margin: 5px 7px 5px 5px;
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #373737;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer; }
    body .cancel-create-board-btn:hover {
      background-color: #E0E0E0;
      border-color: #E0E0E0; }
  body .submit-create-board-btn-disabled {
    margin: 5px 5px 5px 7px;
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #373737;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    visibility: hidden; }
    body .submit-create-board-btn-disabled:hover {
      background-color: #E0E0E0;
      border-color: #E0E0E0; }
  body .submit-create-board-btn-active {
    margin: 5px 5px 5px 7px;
    background-color: #C8232C;
    border: 1px solid #C8232C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s; }
    body .submit-create-board-btn-active:hover {
      background-color: #B81F24;
      border-color: #B81F24; }
  body .my-boards-list-cont {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
    body .my-boards-list-cont .my-boards-list-item {
      padding: 5px;
      cursor: pointer; }
      body .my-boards-list-cont .my-boards-list-item:hover {
        background-color: #ECECEC; }
      body .my-boards-list-cont .my-boards-list-item .save-pin-to-board-name {
        color: #373737;
        font-weight: bold; }
      body .my-boards-list-cont .my-boards-list-item .save-pin-to-board-btn {
        background-color: #C8232C;
        border: 1px solid #C8232C;
        border-radius: 3px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 8px;
        cursor: pointer; }
        body .my-boards-list-cont .my-boards-list-item .save-pin-to-board-btn:hover {
          background-color: #B81F24;
          border-color: #B81F24; }
  body .profile-photo-modal-cont {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear; }
    body .profile-photo-modal-cont .prof-photo-modal {
      background-color: #fff;
      margin: auto;
      margin-top: 50px;
      border-radius: 8px;
      width: 400px;
      max-width: 90%; }
      body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-top {
        border-bottom: 1px solid #ECECEC; }
        body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-top .prof-photo-modal-title {
          font-size: 24px;
          font-weight: bold;
          padding: 16px; }
        body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-top .prof-photo-modal-close {
          font-size: 26px;
          padding: 16px;
          cursor: pointer; }
      body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-content {
        padding-bottom: 10px; }
        body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-content .prof-photo-file-input {
          display: block;
          margin: 15px auto 15px auto; }
        body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-content .prof-photo-submit-btn {
          background-color: #C8232C;
          border: 1px solid #C8232C;
          border-radius: 5px;
          display: block;
          color: white;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          width: 90%;
          cursor: pointer;
          margin: auto;
          margin-top: 10px; }
          body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-content .prof-photo-submit-btn:hover {
            background-color: #B81F24;
            border-color: #B81F24; }
        body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-content .prof-photo-loader-cont {
          display: flex;
          justify-content: center; }
          body .profile-photo-modal-cont .prof-photo-modal .prof-photo-modal-content .prof-photo-loader-cont .prof-photo-loader {
            margin: 20px auto 20px auto; }
  body .board-content .back-to-boards-btn {
    margin: 5px 5px 5px 15px;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid white;
    color: #373737;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer; }
    body .board-content .back-to-boards-btn:hover {
      background-color: #ECECEC;
      border-color: #ECECEC; }
  body .board-content .home-item-link-btn-cont {
    visibility: hidden;
    position: relative;
    width: 0;
    height: 0; }
    body .board-content .home-item-link-btn-cont .home-item-link-btn {
      position: absolute;
      top: -55px;
      left: 21px;
      background-color: #ECECEC;
      border: 1px solid #ECECEC;
      border-radius: 5px;
      color: #373737;
      font-size: 15px;
      font-weight: bold;
      padding: 8px;
      cursor: pointer; }
  body .board-content .board-home-photo {
    object-fit: cover;
    border-radius: 100px; }
  body .board-content .create-cont.pin-item {
    cursor: zoom-in;
    transition: all 0.2s; }
    body .board-content .create-cont.pin-item:hover .home-item-link-btn-cont {
      visibility: visible; }
  body .board-content .edit-board-name-input-label {
    padding: 10px;
    font-size: 14px;
    margin: 10px 20px 0px 20px; }
  body .board-content .edit-board-name-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #808080;
    margin: 10px 20px 0px 20px;
    max-width: 60%; }
  body .board-content .nav-btn-cont-lg {
    width: 800px;
    margin: auto;
    padding: 0px 60px 0px 60px;
    max-width: 80%; }
  body .board-content .edit-board-btn {
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    color: #373737;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s all; }
    body .board-content .edit-board-btn:hover {
      background-color: #ECECEC;
      border-color: #ECECEC; }
  body .board-content .board-container-lg {
    max-width: 800px;
    padding: 60px 60px 20px 60px;
    margin: auto; }
    body .board-content .board-container-lg .board-title-lg {
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 3px; }
    body .board-content .board-container-lg .board-subtitle-lg {
      color: #808080;
      padding-top: 3px;
      font-size: 13px; }
  body .board-content .board-container-sm {
    margin: auto;
    padding: 10px 10px 0px 10px; }
    body .board-content .board-container-sm .board-title-sm {
      font-size: 36px;
      font-weight: bold;
      padding-bottom: 3px; }
    body .board-content .board-container-sm .board-subtitle-sm {
      padding-top: 3px;
      font-size: 12px;
      color: #808080; }
  body .board-content .nav-btn-cont-lg {
    width: 800px;
    margin: auto;
    padding: 0px 60px 0px 60px; }
  body .board-content .nav-btn-cont-sm {
    width: 320px;
    max-width: 90%;
    margin: auto;
    padding: 10px; }
  body .board-content .nav-button-active {
    background-color: #ECECEC;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
  body .board-content .create-cont {
    position: relative;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    max-width: 250px;
    background-color: #ECECEC; }
    body .board-content .create-cont:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body .board-content .create-cont > .content.create-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      /*height: 70%;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .board-content .create-cont > .content.topic-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .board-content .create-cont:hover {
      background-color: #E0E0E0; }
      body .board-content .create-cont:hover .content {
        background-color: #808080; }
    body .board-content .create-cont .create-inner-cont {
      background-color: blue;
      margin: 5px; }
    body .board-content .create-cont .create-subtitle {
      margin: 0px 15px 15px 15px;
      font-weight: bold;
      font-size: 17px;
      color: #808080; }
  body .create-board-name-group {
    margin: 8px;
    padding: 8px; }
    body .create-board-name-group .create-board-name-label {
      font-size: 13px; }
    body .create-board-name-group .create-board-name-input {
      width: 60%;
      padding: 10px;
      border: 1px solid #808080;
      border-radius: 3px; }
  body .create-pin-top-cont {
    padding: 10px;
    border-bottom: 1px solid #ECECEC;
    font-size: 24px; }
  body .create-pin-inner-cont {
    background-color: white;
    border: 1px solid #ECECEC;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    margin: auto; }
    body .create-pin-inner-cont .choose-board-loader-cont {
      display: flex;
      justify-content: center; }
      body .create-pin-inner-cont .choose-board-loader-cont .choose-board-loader {
        margin: 20px auto 20px auto; }
  body .create-pin-input {
    width: 87%;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px; }
  body .create-pin-desc-input {
    width: 87%;
    height: 150px;
    font-family: Arial;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px; }
  body .home-content .home-loader-cont {
    display: flex;
    justify-content: center; }
    body .home-content .home-loader-cont .home-loader {
      margin: 20px auto 20px auto; }
  body .home-content .home-item {
    border-radius: 8px;
    display: inline-block;
    margin: 0 0 10px;
    padding: 6px;
    cursor: zoom-in;
    transition: all 0.2s; }
    body .home-content .home-item .home-item-overlay {
      visibility: hidden;
      position: absolute;
      margin: 10px;
      border-radius: 5px;
      width: 200px; }
      body .home-content .home-item .home-item-overlay .home-item-dropdown {
        visibility: hidden;
        border-radius: 5px;
        background-color: #ECECEC;
        cursor: pointer;
        color: #373737;
        font-size: 15px;
        font-weight: bold; }
        body .home-content .home-item .home-item-overlay .home-item-dropdown:hover {
          background-color: #E0E0E0; }
      body .home-content .home-item .home-item-overlay .home-item-save-button {
        visibility: hidden;
        background-color: #C8232C;
        border: 1px solid #C8232C;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer; }
        body .home-content .home-item .home-item-overlay .home-item-save-button:hover {
          background-color: #B81F24;
          border-color: #B81F24; }
    body .home-content .home-item .home-item-txt {
      visibility: hidden;
      font-size: 12px;
      padding: 3px; }
    body .home-content .home-item .home-item-img {
      border-radius: 8px; }
    body .home-content .home-item .home-item-link-btn-cont {
      visibility: hidden;
      position: relative;
      width: 0;
      height: 0; }
      body .home-content .home-item .home-item-link-btn-cont .home-item-link-btn {
        position: absolute;
        top: -47px;
        left: 8px;
        background-color: #ECECEC;
        border: 1px solid #ECECEC;
        border-radius: 3px;
        color: #373737;
        font-size: 15px;
        font-weight: bold;
        padding: 8px;
        cursor: pointer; }
    body .home-content .home-item:hover {
      background-color: #ECECEC; }
      body .home-content .home-item:hover .home-item-overlay,
      body .home-content .home-item:hover .home-item-save-button,
      body .home-content .home-item:hover .home-item-dropdown,
      body .home-content .home-item:hover .home-item-txt,
      body .home-content .home-item:hover .home-item-link-btn-cont {
        visibility: visible; }
  body .sign-up-cont {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px grey;
    width: 100%;
    margin: auto;
    margin-top: 20px; }
    @media screen and (min-width: 416px) {
      body .sign-up-cont {
        width: 416px; } }
    body .sign-up-cont .sign-up-item, body .sign-up-cont .sign-up-form-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .sign-up-cont .sign-up-item .sign-up-form-input, body .sign-up-cont .sign-up-item .sign-up-form-btn, body .sign-up-cont .sign-up-item .sign-up-form-txt, body .sign-up-cont .sign-up-form-item .sign-up-form-input, body .sign-up-cont .sign-up-form-item .sign-up-form-btn, body .sign-up-cont .sign-up-form-item .sign-up-form-txt {
        width: 100%;
        max-width: 250px; }
      body .sign-up-cont .sign-up-item .sign-up-form-txt, body .sign-up-cont .sign-up-form-item .sign-up-form-txt {
        text-align: center;
        font-size: 11px;
        color: grey; }
      body .sign-up-cont .sign-up-item .sign-up-form-validity, body .sign-up-cont .sign-up-form-item .sign-up-form-validity {
        font-size: 12px; }
    body .sign-up-cont .sign-up-form-btn {
      cursor: pointer; }
    body .sign-up-cont .demo-log-in-btn {
      background-color: #141414;
      border-color: black;
      cursor: pointer; }
      body .sign-up-cont .demo-log-in-btn:hover {
        background-color: black; }
  body .top-nav .top-nav-drawer-cont {
    margin: 22px;
    cursor: pointer; }
  body .top-nav .top-nav-search-bar {
    background-color: #ECECEC;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    padding: 10px;
    width: 100%; }
  body .top-nav .nav-button {
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    body .top-nav .nav-button:hover {
      background-color: #ECECEC; }
  body .top-nav .nav-button-active {
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    body .top-nav .nav-button-active:hover {
      background-color: #ECECEC; }
  body .profile-content .log-out-button {
    margin-top: 10px;
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #373737;
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    cursor: pointer; }
  body .profile-content .profile-photo {
    object-fit: cover;
    border-radius: 80px;
    cursor: pointer; }
  body .profile-content .nav-button {
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    body .profile-content .nav-button:hover {
      background-color: #ECECEC; }
  body .profile-content .nav-button-active {
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    body .profile-content .nav-button-active:hover {
      background-color: #ECECEC; }
  body .profile-content .create-cont.board-item {
    cursor: pointer;
    transition: all 0.2s; }
  body .profile-content .create-cont.pin-item {
    cursor: zoom-in;
    transition: all 0.2s; }
  body .profile-content .create-cont {
    position: relative;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    max-width: 250px;
    background-color: #ECECEC; }
    body .profile-content .create-cont:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body .profile-content .create-cont > .content.create-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      /*height: 70%;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .create-cont > .content.topic-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .create-cont:hover {
      background-color: #E0E0E0; }
      body .profile-content .create-cont:hover .content {
        background-color: #808080; }
    body .profile-content .create-cont .create-inner-cont {
      background-color: blue; }
    body .profile-content .create-cont .create-subtitle {
      font-weight: bold;
      font-size: 17px;
      color: #808080; }
  body .profile-content .pins-content .create-cont.pin-item:hover .home-item-link-btn-cont {
    visibility: visible; }
  body .profile-content .pins-content .boards-mapped-cont .pins-content-pin-img {
    object-fit: cover; }
  body .profile-content .pins-content .boards-mapped-cont .home-item-link-btn-cont {
    visibility: hidden;
    position: relative;
    width: 0;
    height: 0; }
    body .profile-content .pins-content .boards-mapped-cont .home-item-link-btn-cont .home-item-link-btn {
      position: absolute;
      top: -92px;
      left: 21px;
      background-color: #ECECEC;
      border: 1px solid #ECECEC;
      border-radius: 5px;
      color: #373737;
      font-size: 15px;
      font-weight: bold;
      padding: 8px;
      cursor: pointer; }
  body .profile-content .boards-mapped-cont .create-cont {
    position: relative;
    border-radius: 8px;
    width: 90%;
    margin: 10px;
    max-width: 250px;
    background-color: #ECECEC; }
    body .profile-content .boards-mapped-cont .create-cont:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body .profile-content .boards-mapped-cont .create-cont > .content.create-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      /*height: 70%;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .boards-mapped-cont .create-cont > .content.topic-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .boards-mapped-cont .create-cont:hover {
      background-color: #E0E0E0; }
      body .profile-content .boards-mapped-cont .create-cont:hover .content {
        background-color: #808080; }
    body .profile-content .boards-mapped-cont .create-cont .create-inner-cont {
      background-color: blue;
      margin: 5px; }
    body .profile-content .boards-mapped-cont .create-cont .create-sub-subtitle {
      color: #373737;
      font-size: 13px;
      margin: 0px 0px 10px 15px; }
    body .profile-content .boards-mapped-cont .create-cont .create-subtitle {
      margin: 0px 0px 0px 15px;
      font-weight: bold;
      font-size: 17px;
      color: #373737; }
    body .profile-content .boards-mapped-cont .create-cont .boards-mapped-board-img {
      object-fit: cover;
      border-radius: 8px; }
  body .profile-content .boards-mapped-cont .content.create-cont-content {
    border-radius: 8px;
    height: 77%; }
  body .profile-content .topic-cont-sm {
    position: relative;
    cursor: pointer;
    width: 90%;
    max-width: 300px;
    background-color: #ECECEC;
    transition: all 0.2s;
    margin: 10px;
    border-radius: 8px; }
    body .profile-content .topic-cont-sm:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%; }
    body .profile-content .topic-cont-sm > .content.create-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      /*height: 70%;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .topic-cont-sm > .content.topic-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .topic-cont-sm:hover {
      background-color: #E0E0E0; }
      body .profile-content .topic-cont-sm:hover .content {
        background-color: #808080; }
      body .profile-content .topic-cont-sm:hover .topic-subtitle {
        background-color: #D1D1D1;
        border: 1px solid #D1D1D1; }
    body .profile-content .topic-cont-sm .topic-content-name {
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 12px;
      color: white;
      font-weight: bold; }
    body .profile-content .topic-cont-sm .topic-inner-cont {
      background-color: blue;
      margin: 5px; }
    body .profile-content .topic-cont-sm .topic-subtitle {
      cursor: pointer;
      margin: 15px;
      padding: 10px;
      font-weight: bold;
      font-size: 17px;
      color: #373737;
      background-color: #E0E0E0;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      transition: all 0.2s; }
      body .profile-content .topic-cont-sm .topic-subtitle:hover {
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4; }
    body .profile-content .topic-cont-sm .topic-subtitle-unfollow {
      cursor: pointer;
      margin: 15px;
      padding: 10px;
      font-weight: bold;
      font-size: 17px;
      color: white;
      background-color: #C8232C;
      border: 1px solid #C8232C;
      border-radius: 3px;
      transition: all 0.2s; }
      body .profile-content .topic-cont-sm .topic-subtitle-unfollow:hover {
        background-color: #B81F24;
        border: 1px solid #B81F24; }
  body .profile-content .topic-cont-lg {
    position: relative;
    cursor: pointer;
    width: 300px;
    max-width: 90%;
    background-color: #ECECEC;
    transition: all 0.2s;
    margin: 10px;
    border-radius: 8px; }
    body .profile-content .topic-cont-lg:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%; }
    body .profile-content .topic-cont-lg > .content.create-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      /*height: 70%;*/
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .topic-cont-lg > .content.topic-cont-content {
      margin: 10px;
      background-color: #E0E0E0;
      height: 70%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body .profile-content .topic-cont-lg:hover {
      background-color: #E0E0E0; }
      body .profile-content .topic-cont-lg:hover .content {
        background-color: #808080; }
      body .profile-content .topic-cont-lg:hover .topic-subtitle {
        background-color: #D1D1D1;
        border: 1px solid #D1D1D1; }
    body .profile-content .topic-cont-lg .topic-content-name {
      position: absolute;
      top: 180px;
      left: 10px;
      color: white;
      font-weight: bold; }
    body .profile-content .topic-cont-lg .topic-inner-cont {
      background-color: blue;
      margin: 5px; }
    body .profile-content .topic-cont-lg .topic-subtitle {
      cursor: pointer;
      margin: 15px;
      padding: 10px;
      font-weight: bold;
      font-size: 17px;
      color: #373737;
      background-color: #E0E0E0;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      transition: all 0.2s; }
      body .profile-content .topic-cont-lg .topic-subtitle:hover {
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4; }
    body .profile-content .topic-cont-lg .topic-subtitle-unfollow {
      cursor: pointer;
      margin: 15px;
      padding: 10px;
      font-weight: bold;
      font-size: 17px;
      color: white;
      background-color: #C8232C;
      border: 1px solid #C8232C;
      border-radius: 3px;
      transition: all 0.2s; }
      body .profile-content .topic-cont-lg .topic-subtitle-unfollow:hover {
        background-color: #B81F24;
        border: 1px solid #B81F24; }
  body .following-content .following-back-button-lg {
    margin: 5px 5px 5px 15px;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid white;
    color: #373737;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer; }
    body .following-content .following-back-button-lg:hover {
      background-color: #ECECEC;
      border-color: #ECECEC; }
  body .following-content .following-back-button-sm {
    margin: 5px 5px 5px 15px;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid white;
    color: #373737;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer; }
    body .following-content .following-back-button-sm:hover {
      background-color: #ECECEC;
      border-color: #ECECEC; }
  body .following-content .following-people-cont-sm {
    width: 90%;
    max-width: 400px;
    margin: auto; }
    body .following-content .following-people-cont-sm .following-people-title-sm {
      font-size: 15px;
      text-align: center; }
    body .following-content .following-people-cont-sm .following-people-button-sm {
      width: 100%;
      color: white;
      background-color: #C8232C;
      border: 1px solid #C8232C;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s; }
      body .following-content .following-people-cont-sm .following-people-button-sm:hover {
        background-color: #B81F24;
        border-color: #B81F24; }
  body .following-content .following-people-cont-lg {
    width: 350px;
    margin: auto; }
    body .following-content .following-people-cont-lg .following-people-title-lg {
      font-size: 18px;
      text-align: center; }
    body .following-content .following-people-cont-lg .following-people-button-lg {
      width: 100%;
      color: white;
      background-color: #C8232C;
      border: 1px solid #C8232C;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s; }
      body .following-content .following-people-cont-lg .following-people-button-lg:hover {
        background-color: #B81F24;
        border-color: #B81F24; }
  body .following-content .following-rec-cont-sm {
    width: 225px;
    max-width: 95%;
    margin: auto; }
    body .following-content .following-rec-cont-sm .following-rec-item-cont {
      border-radius: 5px;
      width: 95%;
      margin: 10px auto 10px auto;
      transition: all 0.2s; }
      body .following-content .following-rec-cont-sm .following-rec-item-cont:hover {
        background-color: #ECECEC; }
      body .following-content .following-rec-cont-sm .following-rec-item-cont .following-rec-item-img, body .following-content .following-rec-cont-sm .following-rec-item-cont .following-rec-item-top-content {
        margin: 5px;
        padding: 5px;
        object-fit: cover;
        border-radius: 100px; }
      body .following-content .following-rec-cont-sm .following-rec-item-cont .rec-follow-button {
        margin: 8px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #C8232C;
        background-color: #C8232C;
        cursor: pointer;
        transition: all 0.2s; }
        body .following-content .following-rec-cont-sm .following-rec-item-cont .rec-follow-button:hover {
          background-color: #B81F24;
          border: 1px solid #B81F24; }
  body .following-content .following-rec-cont-lg {
    width: 550px;
    margin: auto; }
    body .following-content .following-rec-cont-lg .following-rec-item-cont {
      border-radius: 5px;
      width: 255px;
      margin: 10px;
      transition: all 0.2s; }
      body .following-content .following-rec-cont-lg .following-rec-item-cont:hover {
        background-color: #ECECEC; }
      body .following-content .following-rec-cont-lg .following-rec-item-cont .following-rec-item-img, body .following-content .following-rec-cont-lg .following-rec-item-cont .following-rec-item-top-content {
        margin: 5px;
        padding: 5px;
        object-fit: cover;
        border-radius: 100px; }
      body .following-content .following-rec-cont-lg .following-rec-item-cont .rec-follow-button {
        margin: 8px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #C8232C;
        background-color: #C8232C;
        cursor: pointer;
        transition: all 0.2s; }
        body .following-content .following-rec-cont-lg .following-rec-item-cont .rec-follow-button:hover {
          background-color: #B81F24;
          border: 1px solid #B81F24; }
  body .following-content .nav-button {
    background-color: white;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    body .following-content .nav-button:hover {
      background-color: #ECECEC; }
  body .following-content .nav-button-active {
    background-color: #ECECEC;
    border-radius: 24px;
    padding: 12px;
    border: 1px solid white;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; }
    body .following-content .nav-button-active:hover {
      background-color: #ECECEC; }
  body .top-nav-dropdown-button {
    width: 100%;
    background-color: white;
    border: 1px solid white;
    border-bottom: 1px solid #ECECEC;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    color: #808080; }
    body .top-nav-dropdown-button:hover {
      background-color: #ECECEC; }
  body .top-nav-dropdown-search-cont {
    width: 94%;
    margin: auto;
    border: 1px solid white;
    border-bottom: 1px solid #ECECEC;
    padding: 6px; }
  body .top-nav-dropdown-search-bar {
    padding: 6px;
    width: 90%;
    margin: auto;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #ECECEC;
    color: #808080;
    font-size: 16px;
    font-weight: bold; }
  body .no-pins-msg {
    font-size: 16px;
    text-align: center;
    margin-top: 50px; }
  body .follow-button {
    width: 100%;
    background-color: #C8232C;
    border: 1px solid #C8232C;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer; }
    body .follow-button:hover {
      background-color: #B81F24; }
  body .pin-route-outer-cont {
    background-color: #ECECEC; }
    body .pin-route-outer-cont .pin-route-back-cont .pin-route-back-txt {
      font-size: 18px;
      font-weight: bold;
      color: black;
      cursor: pointer; }
    body .pin-route-outer-cont .pin-route-cont {
      background-color: white;
      width: 90%;
      max-width: 550px;
      margin: auto;
      padding: 10px;
      border-radius: 10px; }
      body .pin-route-outer-cont .pin-route-cont .pin-route-img-cont {
        margin: 8px; }
        body .pin-route-outer-cont .pin-route-cont .pin-route-img-cont .pin-route-img {
          border-radius: 8px;
          cursor: pointer; }
          body .pin-route-outer-cont .pin-route-cont .pin-route-img-cont .pin-route-img:hover {
            opacity: 0.85; }
      body .pin-route-outer-cont .pin-route-cont .pin-route-top-section {
        padding: 0px;
        margin: 4px 8px 12px 8px; }
        body .pin-route-outer-cont .pin-route-cont .pin-route-top-section .pin-route-save-button {
          background-color: #C8232C;
          border: 1px solid #C8232C;
          border-radius: 5px;
          color: white;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          cursor: pointer; }
          body .pin-route-outer-cont .pin-route-cont .pin-route-top-section .pin-route-save-button:hover {
            background-color: #B81F24;
            border-color: #B81F24; }
      body .pin-route-outer-cont .pin-route-cont .pin-route-bottom-section .pin-route-url-cont {
        margin: 8px; }
        body .pin-route-outer-cont .pin-route-cont .pin-route-bottom-section .pin-route-url-cont .pin-route-url-button {
          background-color: #ECECEC;
          border: 1px solid #ECECEC;
          border-radius: 5px;
          color: #373737;
          font-size: 15px;
          font-weight: bold;
          padding: 10px;
          cursor: pointer; }
          body .pin-route-outer-cont .pin-route-cont .pin-route-bottom-section .pin-route-url-cont .pin-route-url-button:hover {
            background-color: #E0E0E0;
            border-color: #E0E0E0; }
      body .pin-route-outer-cont .pin-route-cont .pin-route-bottom-section .pin-page-pin-desc {
        margin: 10px;
        font-size: 18px; }
      body .pin-route-outer-cont .pin-route-cont .pin-route-bottom-section .pin-route-bottom-section-row {
        border-top: 1px solid #ECECEC;
        border-bottom: 1px solid #ECECEC;
        margin: 18px 8px 8px 8px; }
